.links {
    padding: 4rem 0;
    text-align: center;
}

.link {
    padding: 25px 60px;
    margin: 20px auto;
    border-radius: 10px;
    border-color: #F3D37E #D478D8 #5F5DF9 #F04D42;
    border-style: solid;
    border-width: 1px;
    transition: all 200ms ease;
    display: flex;
    justify-content: center;
    max-width: 400px;
    cursor: pointer;
    background-color: transparent;
}

.link:hover {
    transform: scale(1.05);
    box-shadow: 0 -5px 7px #F3D37E, 5px 0 7px #D478D8, 0 5px 7px #5F5DF9, -5px 0 7px #F04D42;
  }